/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64RgL5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64ZgK5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64UYK5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64RgK5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64SoK5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64cYN5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64f8N5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64ZgN5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVW2ZhZI2eCN5jzbjEETS9weq8-19ehAyvMum7nfDB64bEN5Xk.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyWyo_BJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyUyovBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyXsovBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyWyovBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyWAovBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyVspfBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyVVpfBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyUypfBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyUbpfBJ.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOiCnqEu92Fr1Mu51QrIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51TjARc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOkCnqEu92Fr1Mu52xP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51S7ABc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51TzBhc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51TLBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}

#root {
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  padding: 0px;
  min-width: auto;
  height: 100%;
  /* max-width: 1200px; */
}
a {
  transition: all 0.2s ease-in-out;
  color: #ed6d0f;
}
a:focus {
  transition: all 0.2s ease-in-out;
  color: #ed6d0f;
}
strong span {
  color: #ed6d0f;
}
/* boxShadow:'0px 0px 5px rgba(4,15,20,0.9)'
040f14 */
a {
  font-weight: 500;
  text-decoration: inherit;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #fff;
}
html,
section {
  padding: 0;
  margin: 0px;
}
.conteudo {
  position: relative;
  max-width: 1100px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 50px;
}
@media (max-width: 700px) {
  .conteudo {
    padding: 30px 20px;
  }
}
body {
  background-color: #110f10;
  background-color: #f8f8f8;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding: 0px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  border-top: 10px solid #ed6d0f;
}
.area_btn {
  padding: 20px 0px;
}
.area_btn .btn_vejamais,
.area_btn a {
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 2px;
  margin: 10px 0px;

  color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 300;
	background: linear-gradient(-45deg, #ed6d0f, #c0570c, #f38a3f, #ed6d0f);
	animation: gradient 15s ease infinite;

}
.area_btn a:focus{
	background: linear-gradient(-45deg, #cf0fed, #13adc1, #6a0863, #ed6d0f);
	background-size: 400% 400%;

	animation: gradient 15s ease infinite;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.area_btn .btn_vejamais:hover,
.area_btn a:hover {
  background-color: #132434;
  font-weight: 300;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
::selection {
  background-color: #ed6d0f;
  color: #fff;
}

.AreaExplicacoes {
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  transition: all 0.2s ease-in-out 0s;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  text-align: left;
  box-sizing: border-box;
  padding: 10px 0px 10px 0px;
  margin: 0px 0px 20px 0px;
  animation: 200ms ease 0s 1 normal none running k-kjpeXv;
  gap: 20px;
  background-color: #fff2ea;
}
.AreaExplicacoes h2 {
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .AreaExplicacoes {
    flex-direction: row;
    padding: 10px 0px 10px 0px;
  }
}
.AreaExplicacoes .conteudo {
  justify-content: space-between;
}
@media (max-width: 500px) {
  .AreaExplicacoes .conteudo {
    align-items: center;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.AreaExplicacoes article {
  border-radius: 5px;
  padding: 20px;
  position: relative;
  line-height: 1.8rem;
  color: #efefef;
  color: #444;
  display: flex;
  height: auto;
  flex-direction: column;
  margin: 20px 0px 0px 0px;
  padding: 0px;
  width: 45%;
}
.AreaExplicacoes article ul {
  padding: 0px;
  margin: 0px;
}
.AreaExplicacoes article ul li {
  position: relative;
  display: flex;
  list-style: none;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1rem;
  padding: 10px 20px 10px 0;
  margin: 2px 0px;
}
.AreaExplicacoes article ul li:before {
  display: none;
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 0.1px;
  background-color: #132434;
  z-index: 0;
}
.AreaExplicacoes article ul li h5 {
  z-index: 9;
  box-sizing: border-box;
  padding: 0px 5px 0px 0px;
  margin:0px;
  font-weight: 400;
}
.AreaExplicacoes article ul li h4 {
  z-index: 9;
  font-weight: bold;
  color: #ed6d0f;
  display: none;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 0px 0px 0px 5px;
  margin: 0px;
  background-color: #fff2ea;
}
@media (max-width: 700px) {
  .AreaExplicacoes article ul {
    margin: 0px 0 50px 0;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .AreaExplicacoes article {
    margin: 0px 0px 0px 0px;
    width: 100%;
  }
  .AreaExplicacoes article:nth-of-type(1) ul {
    margin: 0 0 0 0;
  }
  .AreaExplicacoes article:nth-of-type(2) {
    margin: 0px;
    padding: 0px;
  }
  .AreaExplicacoes article:nth-of-type(2) h3 {
    display: none;
  }
}
.c-juLNoq {
  padding: 0px;
  margin: 0px 0px 10px;
  font-size: 1.4rem;
}
h2 {
  transition: all 0.2s ease-in-out 0s;
  font-family: "Roboto Condensed", sans-serif;
  color: #ed6d0f;
  z-index: 99;
  left: 0px;
  margin: 0px 0px 10px 0px;
  padding:0px;
  line-height: initial;
  letter-spacing: -1px;
  font-size: 1.6rem;
  box-sizing: border-box;
  font-weight: 500;
}
h3 {
  transition: all 0.2s ease-in-out 0s;
  font-family: "Roboto Condensed", sans-serif;
  color: #333;
  z-index: 99;
  left: 0px;
  margin: 0px;
  padding:0px;
  line-height: initial;
  letter-spacing: -1px;
  font-size: 1.2rem;
  font-weight:500;
  box-sizing: border-box;
}
.AreaExplicacoesArticles {
  display: flex;
  height: auto;
  align-items: flex-start;
  flex-direction: row;
  z-index: 99;
  justify-content: space-between;
}
.AreaExplicacoesArticles:nth-of-type(2) {
  margin-top: 20px;
}
@media (max-width: 700px) {
  .AreaExplicacoesArticles {
    flex-direction: column;
    width: 100%;
  }
}
.c-juLNoq {
  padding: 0px;
  margin: 0px 0px 10px;
  font-size: 1.4rem;
}

h1 {
  /* background-image: url(../imagens/logo-andrew.svg); */
  transition: all 0.2s ease-in-out 0s;background-repeat: no-repeat;
  /* background-position: center center;
  background-size: contain; */
  width: 125px;
  
  height: 150px;
  box-sizing: border-box;
  
}
h1 img{
  width: 125px;
  height: 150px;
  
}
@media (max-width: 500px) {
  .h1 {
    width: 100%;
  }
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.c-iUYKal {
  position: relative;
  background-position: calc(50vw * -0.5) top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  text-align: left;
  box-sizing: border-box;
  padding: 0px 10px 2px 10px;
  /* transform: translateX(50%); */
  margin: 0px 0px 0px;
  flex-wrap: wrap;

}
.c-iUYKal:before {
  position: absolute;
  top:0px;
  right:0px;
  background-image: url('../imagens/perfil-andrew.png');
  background-repeat: no-repeat;
  background-position: 55vw center;
  background-size: cover;
  width: 100%;
  height:100%;
  content:'';
  filter:grayscale(1)
}
@media (max-width: 850px) {
  .c-iUYKal {
    /* transform: translateX(0%); */
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-position: center top;
    /* padding: 20px 50px 50px 50px; */
    padding: 0;
  }
  .c-iUYKal:before {
    background-position: 35vw center;
    width:100% !important;
    height:100% !important;
    padding:0;
  }
  .imgEu, .euMobile{
    display:none !important;
  }
}
@media (max-width: 500px) {
  .c-iUYKal {
    box-sizing: border-box;
    padding: 20px 10px 50px 10px;
    height: auto;
  }
  .c-iUYKal:before {
    display:none !important;
  }
  .c-iUYKal .conteudo {
    padding: 0px;
    flex-direction: column !important;
  }
}
@media (max-width: 850px) {
  .c-iUYKal::before {
    content: '';
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95vw;
    transform: translate(-50%, -50%);
    height: 95%;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 0;
  }
}
.imgEu {
  position:relative;
  display: flex;
  align-items: center;
  max-width: 40%;
  width: 40%;

  /* filter: grayscale(1); */
}
.imgEu img {
  display: none;
  position:relative;
  width: 70%;
  border-radius: 100%;
  box-shadow:0 10px 3px rgba(0,0,0,0.15);
  /* box-shadow:inset 0px 0px 10px 10px rgba(0,0,0.1) */
}

@media (max-width: 500px) {
  .imgEu {
    display: none;
  }
  .euMobile {
    display: block;
    box-sizing: border-box;
    max-width: auto !important;
    width: auto !important;
    
    margin-bottom:30px !important;
    height:200px !important;
    background-image:url('../imagens/eu-3-mobile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .euMobile img{
    border-radius: 0;
    display: none;

    max-width: auto !important;
    width: auto !important;
    height:200px !important;
    

  }
}
.AreaTexto {
  position: relative;
  z-index: 9;
  flex: 1;
  padding: 0px 5vw 0 0;
  max-width: 60%;
  width: 60%;
}
.AreaTexto .euMobile {
  display: none;
}
.AreaTexto p {
  color: #444;
  line-height: 1.8rem;
}
@media (max-width: 500px) {
  .AreaTexto {
    width: 100%;
    max-width: 100%;
    padding: 0px;
  }
  .AreaTexto h1 {
    order: 1;
    margin: 0px auto;
  }
  .AreaTexto .euMobile {
    display: block !important;
    margin: 10px auto 0px auto;
    padding: 0px;
    width: 150px;
    max-width: initial;
    height: 150px;
    text-align: center;
  }
  .AreaTexto .euMobile img {
    width: 150px;
    height: 150px;
  }
}
.flexDirectionRow {
  display: flex;
  flex-direction: row;
}
.c-eexxao {
  display: flex;
  gap: 20px;
}

.sizeSm {
  font-size: 0.75rem !important;
}
.italic {
  font-style: italic;
}
#container {
  color: #fff;
}

.displayNone {
  visibility: hidden;
  display: none;
}

.ProgressBar {
  position: relative;
  width: 100%;
  /* border: 1px solid #ed6d0f; */
  background-color: #f9e7dc;
  border-radius: 2px;
  height: 5px;
  margin-top: 5px;
  transition: all 0.2s ease-in-out;
  /* box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1); */
}
.ProgressBar .bar {
  position: relative;
  height: 5px;
  background-color: #ed6d0f;
  /* transition: all 0.2s ease-in-out; */
  border-radius: 0 2px 2px 0;
  border-radius:2px;

  width: 0%;
}
.ProgressBar .bar._20 {
  --width: 20%;
  animation: test 2s ease-in-out;
  animation-fill-mode: forwards;
}
.ProgressBar .bar._25 {
  --width: 25%;
  animation: test 2s ease-in-out;
  animation-fill-mode: forwards;
}
.ProgressBar .bar._30 {
  --width: 30%;
  animation: test 2s ease-in-out;
  animation-fill-mode: forwards;
}
.ProgressBar .bar._40 {
  --width: 40%;
  animation: test 2s ease-in-out;
  animation-fill-mode: forwards;
}
.ProgressBar .bar._45 {
  --width: 45%;
  animation: test 2s ease-in-out;
  animation-fill-mode: forwards;
}
.ProgressBar .bar._50 {
  --width: 50%;
  animation: test 2s ease-in-out;
  animation-fill-mode: forwards;
}
.ProgressBar .bar._55 {
  --width: 55%;
  animation: test 2s ease-in-out;
  animation-fill-mode: forwards;
}
.ProgressBar .bar._60 {
  --width: 60%;
  animation: test 2s ease-in-out;
  animation-fill-mode: forwards;
}
.ProgressBar .bar._65 {
  --width: 65%;
  animation: test 2s ease-in-out;
  animation-fill-mode: forwards;
}
.ProgressBar .bar._70 {
  --width: 70%;
  animation: test 2s ease-in-out;
  animation-fill-mode: forwards;
}
.ProgressBar .bar._75 {
  --width: 75%;
  animation: test 2s ease-in-out;
  animation-fill-mode: forwards;
}
.ProgressBar .bar._80 {
  --width: 80%;
  animation: test 2s ease-in-out;
  animation-fill-mode: forwards;
}
.ProgressBar .bar._85 {
  --width: 85%;
  animation: test 2s ease-in-out;
  animation-fill-mode: forwards;
}
.ProgressBar .bar._90 {
  --width: 90%;
  animation: test 2s ease-in-out;
  animation-fill-mode: forwards;
}
.ProgressBar .bar._95 {
  --width: 95%;
  animation: test 2s ease-in-out;
  animation-fill-mode: forwards;
}
.ProgressBar .bar._100 {
  --width: 100%;
  animation: test 2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes test{
    from{
         width: 0%;
    }
    to{
        width: var(--width);
    }
}

.ProgressBar .bar h5 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  font-size: 0.7rem;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
  padding: 2px 5px !important;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  margin:0px;
}
.ProgressBar:hover span {
  transform: scale(1.22) translateY(-40%);
}



.areaLinks{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  gap:5px
}
.areaLinks a{
  display: flex;
  gap:10px;
  justify-content:center;
  align-items:center;
  font-size:0.8rem;
  transition: all 0.2s ease-in-out;
  transform:scale(0.8);
}
.areaLinks a span{
  display: none;
}
.areaLinks a:hover{
  	
  color:#110f10;
	animation: gradient 15s ease infinite;
  transform:scale(1);

}
.areaLinks a svg{
  transition: all 0.2s ease-in-out;
}
.areaLinks a:hover svg{
  
  opacity: 1;
  fill:#ed6d0f;
}
.areaLinks a svg{
  width:30px;
  height:30px;
}



.AreaRodape {
  position: relative;
  box-sizing: border-box;
  padding: 10px 10px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.AreaRodape .conteudo {
  display: flex;
  flex-direction: column;
  z-index: 999;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  margin: 0 auto;
}
.AreaRodape .conteudo img {
  filter: grayscale(1);
}
.AreaRodape .areaLinks {
  display: flex;
  gap: 5px;
}
.AreaRodape .areaLinks a {
  filter: grayscale(1) !important;
  width: 25px;
  transition: all 0.2s ease-in-out;

}
.AreaRodape .areaLinks svg {
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  max-height:40px;
}

.AreaRodape .areaLinks a:hover {
  filter: grayscale(0) !important;
}


.AreaRodape .areaLinks a:hover svg{
  opacity: 1;
  fill:#ed6d0f;
}
.AreaRodape::before {
  position: absolute;
  width: 20%;
  max-width: 250px;
  height: 1px;
  border-top: 1px dashed #ccc;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  display: flex;
  z-index: 9;
}
.AreaRodape img {
  width: 60px;
  height: 60px;
  position: relative;
}

